.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px darkblue;
}

.heading_div{
    float: none;
    background-color: ghostwhite;
    padding: 10px;
    border-radius: 20px;
    color: rgb(66, 66, 180);
    box-shadow: 5px 5px 5px rosybrown;
}

.heading_div2{
    font-size: 20px;
}

.result_para_tag{
    box-shadow: 5px 5px 5px palevioletred;
    font-size: 20px;
}

.copy_right_footer{
    position: fixed;
    color: whitesmoke;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px dashed black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}